@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

  .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

  .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }

  .footer-header {
    @apply text-lg text-black font-semibold tracking-wide;
  }
}

 /* :root {
  --primary: #171A11;
  --secondary: #CEDBE3;
  --darkGreen: #3A5822;
  --lightGreen: #769F43;
  --darkBlue: #465D63;
  --lightBlue: #5EACEA;
  --brightBlue: #24599E;
  --lightCta: #851525;
  --darkCta: #FF192D;
  --border: #e2e8f0;
}  */


/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #171A11;
    --secondary: #CEDBE3;
    --darkGreen: #3A5822;
    --lightGreen: #769F43;
    --darkBlue: #465D63;
    --lightBlue: #5EACEA;
    --brightBlue: #24599E;
    --lightCta: #851525;
    --darkCta: #FF192D;
    --border: #1e293b;
  }
}  */

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --background: hsl(202, 27%, 84%);
    --foreground: hsl(240, 10%, 3.9%);
    --card: hsl(40, 36%, 92%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --popover: hsl(207, 77%, 64%);
    --popover-foreground: hsl(240, 10%, 3.9%);
    --primary: hsl(240, 5.9%, 10%);
    --primary-foreground: hsl(40, 36%, 98%);
    --secondary: hsl(202, 27%, 84%);
    --secondary-foreground: hsl(240, 5.9%, 10%);
    --muted: hsl(240, 4.8%, 95.9%);
    --muted-foreground: hsla(191, 17%, 33%, 0.616);
    --accent: hsl(93, 44%, 24%);
    --accent-foreground: hsl(40, 36%, 98%);
    --destructive: hsl(351, 73%, 30%);
    --destructive-foreground: hsl(40, 36%, 98%);
    --border: hsl(93, 44%, 24%);
    --border-opposite: hsl(205, 29%, 92%);
    --input: hsl(40, 36%, 92%);
    --ring: hsl(93, 44%, 24%);
    --chart-1: hsl(355, 100%, 55%);
    --chart-2: hsl(87, 41%, 44%);
    --chart-3: hsl(192, 17%, 33%);
    --chart-4: hsl(207, 77%, 64%);
    --chart-5: hsl(355, 100%, 55%);
    
    --darkGreen: hsl(93, 44%, 24%);
    --lightGreen: hsl(87, 41%, 44%);
    --darkBlue: hsl(192, 17%, 33%);
    --lightBlue: hsl(207, 77%, 64%);
    --brightBlue: hsl(214, 63%, 38%);
    --lightCta: hsl(351, 73%, 30%);
    --darkCta: hsl(355, 100%, 55%);
    --radius: 0px;
    --border-width: 4px;
  }
  .dark {
    --background: hsl(240, 10%, 3.9%);
    --foreground: hsl(40, 36%, 92%);
    --card: hsl(240, 5.9%, 10%);
    --card-foreground: hsl(40, 36%, 92%);
    --popover: hsl(93, 44%, 24%);
    --popover-foreground: hsl(40, 36%, 92%);
    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(240, 5.9%, 10%);
    --secondary: hsl(240, 10%, 3.9%);
    --secondary-foreground: hsl(40, 36%, 92%);
    --muted: hsl(240, 5.9%, 10%);
    --muted-foreground: hsl(40, 36%, 92%);
    --accent: hsl(207, 77%, 64%);
    --accent-foreground: hsl(240, 10%, 3.9%);
    --destructive: hsl(351, 73%, 30%);
    --destructive-foreground: hsl(240, 10%, 3.9%);
    --border: hsl(205, 29%, 92%);
    --border-opposite: hsl(93, 44%, 24%);
    --input: hsl(40, 36%, 92%);
    --ring: hsl(205, 29%, 92%);
    --chart-1: hsl(87, 41%, 44%);
    --chart-2: hsl(355, 100%, 55%);
    --chart-3: hsl(207, 77%, 64%);
    --chart-4: hsl(93, 44%, 24%);
    --chart-5: hsl(87, 41%, 44%);
    
    --darkGreen: hsl(87, 41%, 44%);
    --lightGreen: hsl(93, 44%, 24%);
    --darkBlue: hsl(207, 77%, 64%);
    --lightBlue: hsl(192, 17%, 33%);
    --brightBlue: hsl(214, 63%, 38%);
    --darkCta: hsl(355, 100%, 55%);
    --lightCta: hsl(351, 73%, 30%);
  }
}

/* @layer base {
  * {
    @apply border-primary;
  }
  body {
    @apply bg-primary text-secondary;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-secondary;
  }
} */
