@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1-bold {
    @apply font-bold text-3xl lg:text-4xl;
  }

  .h2-bold {
    @apply font-bold text-2xl lg:text-3xl;
  }

  .h3-bold {
    @apply font-bold text-xl lg:text-2xl;
  }
}

 /* :root {
  --primary: #171A11;
  --secondary: #CEDBE3;
  --darkGreen: #3A5822;
  --lightGreen: #769F43;
  --darkBlue: #465D63;
  --lightBlue: #5EACEA;
  --brightBlue: #24599E;
  --lightCta: #851525;
  --darkCta: #FF192D;
  --border: #e2e8f0;
}  */


/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #171A11;
    --secondary: #CEDBE3;
    --darkGreen: #3A5822;
    --lightGreen: #769F43;
    --darkBlue: #465D63;
    --lightBlue: #5EACEA;
    --brightBlue: #24599E;
    --lightCta: #851525;
    --darkCta: #FF192D;
    --border: #1e293b;
  }
}  */

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --background: hsl(202, 27%, 84%);
    --foreground: hsl(240, 10%, 3.9%);
    --card: hsl(40, 36%, 92%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --popover: hsl(207, 77%, 64%);
    --popover-foreground: hsl(240, 10%, 3.9%);
    --primary: hsl(240, 5.9%, 10%);
    --primary-foreground: hsl(40, 36%, 98%);
    --secondary: hsl(202, 27%, 84%);
    --secondary-foreground: hsl(240, 5.9%, 10%);
    --muted: hsl(240, 4.8%, 95.9%);
    --muted-foreground: hsla(191, 17%, 33%, 0.616);
    --accent: hsl(93, 44%, 24%);
    --accent-foreground: hsl(240, 5.9%, 10%);
    --destructive: hsl(351, 73%, 30%);
    --destructive-foreground: hsl(40, 36%, 98%);
    --border: hsl(93, 44%, 24%);
    --border-opposite: hsl(205, 29%, 92%);
    --input: hsl(40, 36%, 92%);
    --ring: hsl(93, 44%, 24%);
    --chart-1: hsl(355, 100%, 55%);
    --chart-2: hsl(87, 41%, 44%);
    --chart-3: hsl(192, 17%, 33%);
    --chart-4: hsl(207, 77%, 64%);
    --chart-5: hsl(355, 100%, 55%);
    
    --darkGreen: hsl(93, 44%, 24%);
    --lightGreen: hsl(87, 41%, 44%);
    --darkBlue: hsl(192, 17%, 33%);
    --lightBlue: hsl(207, 77%, 64%);
    --brightBlue: hsl(214, 63%, 38%);
    --lightCta: hsl(351, 73%, 30%);
    --darkCta: hsl(355, 100%, 55%);
    --radius: 0px;
    --border-width: 4px;
  }
  .dark {
    --background: hsl(240, 10%, 3.9%);
    --foreground: hsl(40, 36%, 92%);
    --card: hsl(240, 5.9%, 10%);
    --card-foreground: hsl(40, 36%, 92%);
    --popover: hsl(93, 44%, 24%);
    --popover-foreground: hsl(40, 36%, 92%);
    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(240, 5.9%, 10%);
    --secondary: hsl(240, 10%, 3.9%);
    --secondary-foreground: hsl(40, 36%, 92%);
    --muted: hsl(240, 5.9%, 10%);
    --muted-foreground: hsl(40, 36%, 92%);
    --accent: hsl(207, 77%, 64%);
    --accent-foreground: hsl(240, 10%, 3.9%);
    --destructive: hsl(355, 100%, 55%);
    --destructive-foreground: hsl(240, 10%, 3.9%);
    --border: hsl(205, 29%, 92%);
    --border-opposite: hsl(93, 44%, 24%);
    --input: hsl(93, 44%, 24%);
    --ring: hsl(205, 29%, 92%);
    --chart-1: hsl(87, 41%, 44%);
    --chart-2: hsl(355, 100%, 55%);
    --chart-3: hsl(207, 77%, 64%);
    --chart-4: hsl(93, 44%, 24%);
    --chart-5: hsl(87, 41%, 44%);
    
    --darkGreen: hsl(87, 41%, 44%);
    --lightGreen: hsl(93, 44%, 24%);
    --darkBlue: hsl(207, 77%, 64%);
    --lightBlue: hsl(192, 17%, 33%);
    --brightBlue: hsl(214, 63%, 38%);
    --lightCta: hsl(355, 100%, 55%);
    --darkCta: hsl(351, 73%, 30%);
  }
}

/* @layer base {
  * {
    @apply border-primary;
  }
  body {
    @apply bg-primary text-secondary;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-secondary;
  }
} */

/* disc button */
.cta::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  display: block;
  border-radius: 50%;
  border-color: white;
  border-width: 0rem;
  background: var(--lightCta);
  width: 50px;
  height: 50px;
  transition: all .3s ease;
}

.cta:hover:before {
  width: 100%;
  height: 100%;
  border-width: .1rem;
  background: var(--lightBlue);
  top: 0px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}


/* CTA with perfect circle fill */
/* .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
} */